
body{

background-image: url('IMG/DISEÑO\ WALLPAPER\ COMPUTADORES\ TDT\ JPG_Mesa\ de\ trabajo\ 1.jpg');

font-family:Segoe UI;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:#ff9900;

}


.login{

background:#111827;

padding:40px;

border-radius:15px;

width:320px;

border-top:4px solid #ff7a00;

box-shadow:0 20px 40px rgb(255, 102, 0);

}


hr{

border:1px solid #ff7a00;

margin:20px 0;

}


input{

width:100%;

padding:10px;

margin-bottom:10px;

border:none;

border-radius:6px;

background:#1f2937;

color:white;

}



button{

width:100%;

padding:10px;

background:#ff7a00;

border:none;

border-radius:8px;

color:white;

font-weight:bold;

cursor:pointer;

}



.contenedorGrupos{

padding:30px;

}



.grupoCard{

background:#0f172a;

padding:20px;

margin-bottom:20px;

border-radius:12px;

border-left:6px solid #ff7a00;

box-shadow:0 5px 15px rgba(0,0,0,0.3);

transition:.3s;

}



.grupoCard:hover{

transform:translateY(-5px);

}



.grupoHeader{

display:flex;

justify-content:space-between;

align-items:center;

}



.estado{

padding:6px 12px;

border-radius:20px;

font-size:14px;

}



.abierto{

background:#16a34a;

}



.bloqueado{

background:#6b7280;

}



.cerrado{

background:#dc2626;

}



.grupoBtn{

margin-top:15px;

padding:10px;

border:none;

border-radius:8px;

background:#ff7a00;

color:white;

cursor:pointer;

width:100%;

font-weight:bold;

}



.grupoBtn:disabled{

background:gray;

cursor:not-allowed;

}



.contador{

margin-top:10px;

font-size:14px;

color:#94a3b8;

}
